.gz-title{
    text-align: left;
}
.gz-content{
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    text-align: left;
    font-size: 20px;
}
.gz-content input{
    margin: 15px auto;
}
.gz-content textarea{
    width: 100%;
}
.text-number{
    font-size: 8px;
    text-align: right;
}
.submit{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
}
.active{
    background-color: #d3a243;
}
.model{
    width: 120%;
    height: 150%;
    z-index: 1;
    position: absolute;
    top: -10%;
    left: -10%;
    bottom: -50%;
    right: -10%;
    background-color: rgba(79, 79, 79, 0.7);
}
.dialog{
    width: 60%;
    height: 30%;
    margin: 40% auto 0;
    background-color: #fff;
    z-index: 2;
    border-radius: 5px;
		padding: 10px;
}
.dialog-btn{
    background-color: #d3a243;
    width: 50%;
    height: 20%;
    outline: none;
    border: none;
    border-radius: 20px;;
}
.dialog-logo{
	margin: 0 auto;
	width: 30%;
	height: 30%;
	background-image: url('../images/right.png');
	background-size: 100% 100%;
	background-position: center;
}